<% layout('layout/page') %>

<h1 class="text-center">Добавьте фото на сервер</h1>

<form class="form-horizontal col-lg-3" name="article-form" id="article-form" action="/upload" enctype="multipart/form-data"
      method="post">
    <div class="form-group">
        <label for="picture" class="col-lg-2 control-label">Добавить фото</label>

        <div class="col-lg-8">
            <input name="picture" type="file" class="form-control" id="picture">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-6 col-lg-5">
            <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Добавить фото</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>


<output id="list"></output>